@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Permissões";
}

<p class="display-6 mt-3">Roles</p>

<a asp-action="Create" class="btn btn-primary my-3">Cadastrar Role</a>

<table class="table table-small table-bordered">
    <tr><th>ID</th><th>Nome</th><th>Ações</th></tr>
    @foreach(var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td><a class="btn btn-sm btn-secondary" asp-action="Update" asp-route-id="@role.Id">Editar</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Deletar
                    </button>
                </form>
            </td>
        </tr>
    }
</table>